<div class="row planet-data">
  <div class="card rotation">
    <div class="card-title">Rotation time</div>
    <div class="card-value">
      <div class="value">{{rotation}}</div>
    </div>
  </div>
  <div class="card revolution">
    <div class="card-title">Revolution time</div>
    <div class="card-value">
      <div class="value">{{revolution}}</div>
    </div>
  </div>
  <div class="card radius">
    <div class="card-title">Radius</div>
    <div class="card-value">
      <div class="value">{{radius}}</div>
    </div>
  </div>
  <div class="card temperature">
    <div class="card-title">Average temp.</div>
    <div class="card-value">
      <div class="value">{{temperature}}</div>
    </div>
  </div>
</div>