<header>
  <div class="inner">
    <div class="logo">The Planets</div>
    <div class="burger"></div>
    <nav>
      <a class="active" href="/pages/mercury.html">Mercury</a>
      <a href="/pages/venus.html">Venus</a>
      <a href="/pages/earth.html">Earth</a>
      <a href="/pages/mars.html">Mars</a>
      <a href="/pages/jupiter.html">Jupiter</a>
      <a href="/pages/saturn.html">Saturn</a>
      <a href="/pages/uranus.html">Uranus</a>
      <a href="/pages/neptune.html">Neptune</a>
    </nav>
  </div>
</header>