<header>
  <div class="inner">
    <div class="logo">The Planets</div>
    <div class="burger burger-active"><img
        src="/public/assets/icon-hamburger.svg"
        alt=""
      /></div>
    <nav class="nav-menu">
      <a class="active nav-item" href="/index.html"><span class="nav-menu-icon mercury-color"></span>Mercury</a>
      <a class="nav-item" href="/pages/venus.html"><span class="nav-menu-icon venus-color"></span>Venus</a>
      <a class="nav-item" href="/pages/earth.html"><span class="nav-menu-icon earth-color"></span>Earth</a>
      <a class="nav-item" href="/pages/mars.html"><span class="nav-menu-icon mars-color"></span>Mars</a>
      <a class="nav-item" href="/pages/jupiter.html"><span class="nav-menu-icon jupiter-color"></span>Jupiter</a>
      <a class="nav-item" href="/pages/saturn.html"><span class="nav-menu-icon saturn-color"></span>Saturn</a>
      <a class="nav-item" href="/pages/uranus.html"><span class="nav-menu-icon uranus-color"></span>Uranus</a>
      <a class="nav-item" href="/pages/neptune.html"><span class="nav-menu-icon neptune-color"></span>Neptune</a>
    </nav>
  </div>
</header>