<div class="row planet-view">
  <div class="planet-image"><img class="planet-img" src="{{image}}" /></div>
  <div class="data">
    <div class="title"><h1>{{title}}</h1></div>
    <div class="description"><p>{{description}}</p></div>
    <div class="source"><p>Source :</p><a
        target="_blank"
        href="{{source}}"
      >Wikipedia</a>
      <img class="src-img" src="../public/assets/icon-source.svg" alt="" />
    </div>
    <div class="buttons-desktop">
      <button class="active"><span id="span-num">01</span> Overview</button>
      <button><span id="span-num">02</span>
        <span class="desktop-text">Internal</span>
        Structure</button>
      <button><span id="span-num">03</span>
        <span class="desktop-text">Surface</span>
        Geology</button>
    </div>
  </div>
</div>