<div class="row planet-view">
  <div class="planet-image">landlsaknd</div>
  <div class="data">
    <div class="title">{{title}}</div>
    <div class="description">{{description}}</div>
    <a href="{{source}}" class="source">Wikipedia</a>
    <button><span id="span-num">01</span> Overview</button>
    <button><span id="span-num">02</span> Internal Structure</button>
    <button><span id="span-num">03</span> Surface Geology</button>
  </div>
</div>