@import "shared/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan&display=swap");
@import "shared/typography.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $title;
  font-size: $title-font;
  box-sizing: border-box;
  font-family: "Antonio", sans-serif;
}

body {
  background-color: #070724;
  background-image: url(/shared/assets/background-stars.svg);
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
}

a {
  @include title;
  text-decoration: none;
  color: $white-color;
}

nav a {
  color: $white-color;
  font-family: "League Spartan", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  padding: 12px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 28px;
  color: $white-color;
  text-transform: uppercase;
}
.divider {
  height: 1px;
  width: auto;
  background-color: #979797;
}


.card-title,.card-value {
  color: $white-color;
}

.planet-view {
  height: 50vh;
  padding: 120px;
  margin-top: 50px;
}

.planet-data {
  height: 20vh;
  width: 60%;
  display: flex;  
  margin: auto;
  justify-content: space-between;
  align-items: center;  ;
}