@import "shared/colors.scss";
@import "shared/typography.scss";
@import "shared/utils.scss";
@import url("https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Antonio", sans-serif;
}

body {
  @include body-text;
  background-color: #070724;
  background-image: url(/assets/background-stars.svg);
}

p {
  @include body-text;
}

h1 {
  @include title;
}

h2 {
  @include sub-title;
}

h3 {
  @include medium-text;
}

h4 {
  @include small-text;
}

button {
  @include medium-text;
  width: 350px;
  height: 48px;
  flex-shrink: 0;
  text-align: left;
  background: $default-button-color;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  &:hover {
    cursor: pointer;
    background: $hover-button-color;
  }

  &.active {
    background: $mercury-button-color;
  }

  &:active {
    background: $mercury-button-color;
  }

  &:focus {
    background: $mercury-button-color;
  }
}

#span-num {
  @include medium-text;
  opacity: 0.5;
  margin: 0 25px;
}

a {
  text-decoration: none;
  color: $white-color;
}

nav {
  display: inline-flex;
  padding-right: 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 33px;

  a {
    color: $white-color;
    font-family: "League Spartan", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 88vh;
  width: 90%;
  margin: auto;
  padding-right: 5%;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
}

.logo {
  font-size: 28px;
  text-transform: uppercase;
  margin-left: 10px;
  white-space: nowrap;
}

.divider {
  height: 1px;
  width: auto;
  background: $white-color;
  opacity: 0.2;
}

.title {
  margin-bottom: 23px;
}

.description {
  width: 350px;
  margin-bottom: 24px;
}

.source {
  display: flex;
  margin-bottom: 39px;
  align-items: center;
  gap: 4px;

  p {
    margin-right: 2px;
  }

  a {
    @include body-text;
    text-decoration: underline;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7%;
}

.planet-image {
  position: relative;
  left: 10%;
  width: 290px;
  height: 290px;

  .planet-img {
    width: 100%;
  }
}
.src-img {
  margin: auto 5px;
  width: 12px;
  height: 12px;
}

.src-img {
  margin: auto 5px;
  width: 12px;
  height: 12px;
}

.data {
  @include flexAlign("flex-start");
  flex-direction: column;
  justify-content: space-between;
}

.card {
  @include flexAlign("left");
  flex-direction: column;
  width: 255px;
  height: 128px;
  padding-left: 23px;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.card-value {
  @include sub-title;
}

.card-title {
  @include small-text;
  opacity: 0.5;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 14px;
}

.card-title,
.card-value {
  color: $white-color;
}

.planet-view {
  height: 50vh;
  margin-top: 15%;
}

.planet-data {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10%;
  padding-bottom: 6%;
}

.geology {
  width: 163px;
  height: 199px;
  margin: 0 auto;
  display: block;
  position: relative;
  bottom: 26%;
}
.burger {
  display: none;
}
.buttons-desktop {
  display: flex;
  flex-direction: column;
}
.desktop-text {
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
}
@media only screen and (max-width: 375px) {
  
  .burger {
    width: 24px;
    height: 17px;
    display: block;
    cursor: pointer;
    opacity: 1;
  }
  .burger.active {
    opacity: 0.5;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    position: fixed;
    top: 69px;
    right: -100%;
    background-color: #070724;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    z-index: 2;
    padding: 0 24px;
  }
  .nav-menu-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 25px;
    background-color: aqua;
  }
  .nav-item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  nav {
    gap: 0;
  }

  nav a {
    height: 60px;
    padding: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px; 
    letter-spacing: 1.364px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
  }
  
  .nav-menu.active {
    right:0;
  }  

  .geology {
    width: auto;
    height: 100px;
    bottom: 30px;
  }
  .buttons-desktop {
    width: 100%;
    position: absolute;
    top: 61px;
    left: 0;
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    gap: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    span {
      display: none;
    }
    button {
      height: 100%;
      margin-bottom: 0;
      text-align: center;
      border: none;
      width: 80px;
      font-size: 10px;

      font-weight: 700;
      letter-spacing: 1.929px;
      opacity: 0.5;
      .desktop-text {
        display: none;
      }
      &:hover,
      &:active,
      &.active {
        background-color: transparent;
        border-bottom: 4px solid $mercury-button-color;
        opacity: 1;
      }
    }
  }
  .container {
    padding: 0;
  }
  .row {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .planet-view {
    height: auto;
    padding-bottom: 0;
  }
  .planet-image {
    left: 0;
    width: 111px;
    height: 111px;
    margin: 60px 0;
  }
  .data {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    &.description {
      display: flex;
      flex-direction: column;
      align-items: center;  
    }
  }

  .data-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .planet-data {
    gap: 8px;
    padding-top: 0;
  }
  .title h1 {
    font-size: 40px;
  }
  .description {
    p {
      font-size: 11px;
      line-height: 22px;
      text-align: center;
    }
    width: 100%;
    word-wrap: break-word;
  }
  .source{
    margin-bottom: 20px;
  }
  .source p,
  .source a {
    opacity: 0.5;
    font-size: 12px;
  }
  .card {
    width: 100%;
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    .card-title {
      font-size: 8px;
    }
    .card-value {
      .value {
        font-size: 20px;
        letter-spacing: -0.75px;
      }
    }
  }
  .mercury-color {
    background-color: $mercury-button-color;
  }
  .venus-color {
    background-color: $venus-button-color;
  }
  .earth-color {
    background-color: $earth-button-color;
  }
  .mars-color {
    background-color: $mars-button-color;
  }
  .jupiter-color {
    background-color: $jupiter-button-color;
  }
  .saturn-color {
    background-color: $saturn-button-color;
  }
  .uranus-color {
    background-color: $uranus-button-color;
  }
  .neptune-color {
    background-color: $neptune-button-color;
  }
}

@media only screen and (max-width: 768px) and (min-width: 375px) {
  .inner {
    padding: 0;
    flex-direction: column;

    .logo {
      margin-top: 32px;
      margin-bottom: 39px;
    }
  }

  nav {
    padding: 0 52px;
  }

  nav a {
    color: #ffffff;
    font-family: "League Spartan", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1px;
    padding: 0;
  }

  .divider {
    margin-top: 27px;
  }

  .planet-data {
    flex-direction: row;
    margin-top: 0;
    margin-left: 39px;
    margin-bottom: 36px;
    gap: 11px;
  }

  .planet-view {
    flex-direction: column;
    align-items: center;
    margin-top: 112px;
    height: auto;
  }

  .planet-image {
    position: initial;
    margin-bottom: 95px;
  }

  .data {
    flex-direction: row;
    align-items: center;
    gap: 69px;
  }

  .data-description {
    margin-left: 39px;
  }

  .title {
    h1 {
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .description {
    p {
      font-size: 11px;
      font-weight: 400;
      line-height: 22px;
    }
  }

  .source {
    p,
    a {
      font-size: 12px;
    }
  }

  .row {
    padding: 0;
  }

  button {
    width: 281px;
    height: 40px;
    font-size: 9px;
    letter-spacing: 1.929px;
  }

  .desktop-text {
    font-size: 9px;
    letter-spacing: 1.929px;
  }

  .card-title {
    font-size: 8px;
    line-height: 16px;
    letter-spacing: 0.727px;
  }

  .card-value {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
  }

  .card {
    height: 88px;
    width: 164px;
  }

  .container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }
}
