@import "shared/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=League+Spartan:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Antonio", sans-serif;
}

body {
  background-color: #070724;
  background-image: url(/shared/assets/background-stars.svg);
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
}
button {
  width: 50%;
  height: 100%;
  text-align: left;
  border-radius: 0;
  border: none;
  margin: 5px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: $white-color;
}

nav a {
  color: $white-color;
  font-family: "League Spartan", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  padding: 12px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 28px;
  color: $white-color;
  text-transform: uppercase;
}
.divider {
  height: 1px;
  width: auto;
  background-color: #979797;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.planet-image {
  flex-basis: 0;
  background-color: aqua;
  flex-grow: 1.5;
  height: inherit;
}

.data {
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
  flex-grow: 1;
  height: inherit;
  margin-left: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;  
  margin: 10px;
  padding: 10px;
  width: 100%;
  align-items: left;
  justify-content: center;
  border: #F2F2F2 solid 1px;
}

.card-value {
  display: flex;
}
.card-title {
  font-size: 11px;
}

.card-value {
  font-size: 30px;
}

.card-title,.card-value {
  color: $white-color;
}

.planet-view {
  height: 50vh;
  padding: 120px;
  margin-top: 50px;
}

.planet-data {
  height: 20vh;
  width: 60%;
  display: flex;  
  margin: auto;
  justify-content: space-between;
  align-items: center;  ;
}