@import "shared/colors.scss";
@import "shared/typography.scss";
@import "shared/utils.scss";
@import url("https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Antonio", sans-serif;
}

body {
  @include body-text;
  background-color: #070724;
  background-image: url(/assets/background-stars.svg);
}

p {
  @include body-text;
}

h1 {
  @include title;
}

h2 {
  @include sub-title;
}

h3 {
  @include medium-text;
}

h4 {
  @include small-text;
}

button {
  @include medium-text;
  width: 350px;
  height: 48px;
  flex-shrink: 0;
  text-align: left;
  background: $default-button-color;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  &:hover {
    cursor: pointer;
    background: $hover-button-color;
  }
  &.active {
    background: $mercury-button-color;
  }
  &:active {
    background: $mercury-button-color;
  }
  &:focus {
    background: $mercury-button-color;
  }
}

#span-num {
  @include medium-text;
  opacity: 0.5;
  margin: 0 25px;
}

a {
  text-decoration: none;
  color: $white-color;
}

nav {
  display: inline-flex;
  padding-right: 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 33px;

  a {
    color: $white-color;
    font-family: "League Spartan", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 88vh;
  width: 90%;
  margin: auto;
  padding-right: 5%;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
}

.logo {
  font-size: 28px;
  text-transform: uppercase;
  margin-left: 10px;
  white-space: nowrap;
}

.divider {
  height: 1px;
  width: auto;
  background: $white-color;
  opacity: 0.2;
}

.title {
  margin-bottom: 23px;
}

.description {
  width: 350px;
  margin-bottom: 24px;
}

.source {
  display: inline-flex;
  margin-bottom: 39px;

  p {
    margin-right: 2px;
  }

  a {
    @include body-text;
    text-decoration: underline;
  }
}

.row {
  @include flexAlign(center);
  justify-content: space-between;
  padding: 7%;
}

.planet-image {
  position: relative;
  left: 13%;
  width: 290px;
  height: 290px;

  .planet-img {
    width: 100%;
  }
}

.data {
  @include flexAlign("flex-start");
  flex-direction: column;
  justify-content: space-between;
}

.card {
  @include flexAlign("left");
  flex-direction: column;
  width: 255px;
  height: 128px;
  padding-left: 23px;
  padding-top: 1px;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.card-value {
  @include sub-title;
}
.card-title {
  @include small-text;
  opacity: 0.5;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 14px;
}

.card-title,
.card-value {
  color: $white-color;
}

.planet-view {
  height: 50vh;
  margin-top: 15%;
}

.planet-data {
  @include flexAlign("center");
  gap: 30px;
  margin-top: 5%;
  padding-bottom: 6%;
}

.geology {
  width: 163px;
  height: 199px;
  margin: 0 auto;
  display: block;
  position: relative;
  bottom: 24%;
}
.burger {
  display: none;
}
.buttons-desktop {
  display: flex;
  flex-direction: column;
}
.buttons-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .burger {
    display: block;
  }
  nav {
    display: none;
  }
  .buttons-desktop {
    display: none;
  }
  .buttons-mobile {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    gap:20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    button {
      height: 100%;
      margin-bottom: 0;
      text-align: center;
      border: none;
      width: 80px;
      font-size: 10px;
      background-color: transparent;
      font-weight: 700;
      letter-spacing: 1.929px;
      opacity: 0.5;
      &:hover,
      &:active {
        border-bottom: 4px solid $mercury-button-color;
        opacity: 1;
      }
    }
  }
}
