@import "/shared/colors.scss";

button {
  &.active {
    background: $earth-button-color;
  }
  &:active {
    background: $earth-button-color;
  }
  &:focus {
    background: $earth-button-color;
  }
}

.planet-image {
  width: 450px;
  height: 450px;
}
