@import "/shared/colors";

button {
  &:active,
  &.active,
  &:focus {
    background: $earth-button-color;
  }
}

.planet-image {
  width: 450px;
  height: 450px;
}

@media only screen and (max-width: 375px) {
  .buttons-desktop {
    button {
      &:hover,
      &:active,
      &.active {
        border-bottom-color: $earth-button-color;
      }
    }
  }

  .planet-image {
    left: 0;
    width: 173px;
    height: 173px;
    margin: 60px 0;
  }
}
