@import "/shared/colors.scss";

button {
  &.active {
    background: $earth-button-color;
  }
  &:active {
    background: $earth-button-color;
  }
  &:focus {
    background: $earth-button-color;
  }
}

@media only screen and (max-width: 768px) {
  .buttons-desktop {
    button {
      &:hover,
      &:active,
      &.active {
        border-bottom-color: $earth-button-color;
      }
    }
  }

  .planet-image {
    left: 0;
    width: 111px;
    height: 111px;
    margin: 60px 0;
  }
}