@import "/shared/colors.scss";

button {
  &.active {
    background: $jupiter-button-color;
  }
  &:active {
    background: $jupiter-button-color;
  }
  &:focus {
    background: $jupiter-button-color;
  }
}
.planet-image {
  width: 458px;
  height: 458px;
}
@media only screen and (max-width: 375px) {
  .buttons-desktop {
    button {
      &:hover,
      &:active,
      &.active {
        border-bottom-color: $jupiter-button-color;
      }
    }
  }

  .planet-image {
    left: 0;
    width: 224px;
    height: 224px;
    margin: 60px 0;
  }
}

