@import "/shared/colors";

button {
  &:active,
  &.active,
  &:focus {
    background: $mars-button-color;
  }
}

.planet-image {
  width: 336px;
  height: 336px;
}

@media only screen and (width <= 480px) {
  button {
    &:hover,
    &:active,
    &.active {
      border-bottom-color: $mars-button-color;
    }
  }

  .planet-image {
    left: 0;
    width: 129px;
    height: 129px;
    margin: 60px 0;
  }
}
