@import "/shared/colors.scss";

button {
  &.active {
    background: $neptune-button-color;
  }
  &:active {
    background: $neptune-button-color;
  }
  &:focus {
    background: $neptune-button-color;
  }
}
@media only screen and (max-width: 375px) {
  .buttons-desktop {
    button {
      &:hover,
      &:active,
      &.active {
        border-bottom-color: $neptune-button-color;
      }
    }
  }

  .planet-image {
    left: 0;
    width: 111px;
    height: 111px;
    margin: 60px 0;
  }
}

.planet-image {
  width: 450px;
  height: 450px;
}
