@import "/shared/colors.scss";

button {
  &.active {
    background: $uranus-button-color;
  }
  &:active {
    background: $uranus-button-color;
  }
  &:focus {
    background: $uranus-button-color;
  }
}

@media only screen and (max-width: 375px) {
  .buttons-desktop {
    button {
      background-color: transparent;
      &:hover,
      &:active,
      &.active {
        border-bottom-color: $uranus-button-color;
      }
    }
  }

  .planet-image {
    left: 0;
    width: 111px;
    height: 111px;
    margin: 60px 0;
  }
}
.planet-image {
  width: 458px;
  height: 458px;
}