@import "/shared/colors.scss";

button {
  &.active {
    background: $uranus-button-color;
  }
  &:active {
    background: $uranus-button-color;
  }
  &:focus {
    background: $uranus-button-color;
  }
}
.buttons-mobile {
  button {
    background-color: transparent;
    &:hover,
    &:active {
      border-bottom-color: $uranus-button-color;
    }
  }
}