@import "/shared/colors";

button {
  &:active,
  &.active,
  &:focus  {
    background: $uranus-button-color;
  }
}

.planet-image {
  width: 458px;
  height: 458px;
}

@media only screen and (max-width: 375px) {
  .buttons-desktop {
    button {
      background-color: transparent;

      &:hover,
      &:active,
      &.active {
        border-bottom-color: $uranus-button-color;
      }
    }
  }

  .planet-image {
    left: 0;
    width: 176px;
    height: 176px;
    margin: 60px 0;
  }
}