@import "/shared/colors.scss";

button {
  &.active {
    background: $venus-button-color;
  }
  &:active {
    background: $venus-button-color;
  }
  &:focus {
    background: $venus-button-color;
  }
}

.planet-image {
  width: 400px;
  height: 400px;
}
