@import "/shared/colors";

button {
  &:active,
  &.active,
  &:focus  {
    background: $venus-button-color;
  }
}

.planet-image {
  width: 400px;
  height: 400px;
}

@media only screen and (width <= 480px) {
    button {
      &:hover,
      &:active,
      &.active {
        border-bottom-color: $venus-button-color;
      }
    }

  .planet-image {
    left: 0;
    width: 154px;
    height: 154px;
    margin: 60px 0;
  }
}

@media only screen and (width <= 768px) and (width >= 481px) {
  .planet-image {
    width: 253px;
    height: 253px;
  }
}
