@import "/shared/colors.scss";

button {
  &.active {
    background: $venus-button-color;
  }
  &:active {
    background: $venus-button-color;
  }
  &:focus {
    background: $venus-button-color;
  }
}
