@import "/shared/colors";

button {
  &:active,
  &.active,
  &:focus  {
    background: $venus-button-color;
  }
}

.planet-image {
  width: 400px;
  height: 400px;
}

.buttons-mobile {
  button {
    background-color: transparent;

    &:hover,
    &:active {
      border-bottom-color: $venus-button-color;
    }
  }
}

@media only screen and (width <= 375px) {
  .buttons-desktop {
    button {
      &:hover,
      &:active,
      &.active {
        border-bottom-color: $venus-button-color;
      }
    }
  }

  .planet-image {
    left: 0;
    width: 111px;
    height: 111px;
    margin: 60px 0;
  }
}

@media only screen and (width <= 768px) and (width >= 375px) {
  .planet-image {
    width: 253px;
    height: 253px;
  }
}
