@import "/shared/colors.scss";

button {
  &.active {
    background: $venus-button-color;
  }
  &:active {
    background: $venus-button-color;
  }
  &:focus {
    background: $venus-button-color;
  }
}

.planet-image {
  width: 400px;
  height: 400px;
}
.buttons-mobile {
  button {
    background-color: transparent;
    &:hover,
    &:active {
      border-bottom-color: $venus-button-color;
    }
  }
}
@media only screen and (max-width: 768px) {
  .buttons-desktop {
    button {
      &:hover,
      &:active,
      &.active {
        border-bottom-color: $venus-button-color;
      }
    }
  }

  .planet-image {
    left: 0;
    width: 111px;
    height: 111px;
    margin: 60px 0;
  }
}
