//Active button color for each planet
$mercury-button-color: #419EBB;
$venus-button-color: #EDA249;
$earth-button-color: #6D2ED5;
$mars-button-color: #D14C32;
$jupiter-button-color: #D83A34;
$saturn-button-color: #CD5120;
$uranus-button-color: #1EC1A2;
$neptune-button-color: #2D68F0;
//Base color for buttons state
$default-button-color: #ffffff00;
$hover-button-color: #D8D8D8;