@import "https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan&display=swap";
@import "colors";

@mixin title {
  font-family: Antonio, sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 103px;
  color: $white-color;
  text-transform: uppercase;
}

@mixin sub-title {
  font-family: Antonio, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -1.5px;
  color: $white-color;
  text-transform: uppercase;
}

@mixin medium-text {
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  color: $white-color;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}

@mixin small-text {
  font-family: "League Spartan", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 25px;
  color: $white-color;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin body-text {
  font-family: "League Spartan", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: $white-color;
}
